/* fonts */

@font-face {
  font-family: "FirstOrder";
  src: url("fonts/first_order/firstorder.ttf") format("truetype");
}

:root {
  --main-bg-color: #0f0f0f;
  --main-text-color: #ccc;
  --border-radius: 15px;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.dice {
  padding: 2rem;
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background: var(--main-bg-color);
  box-shadow: 10px 10px 20px #070707, -10px -10px 20px #171717;
}

.result {
  font-size: 2.5rem;
  margin: 10px 0;
}
h1 {
  text-align: center;
  font-family: "FirstOrder", sans-serif;
  font-size: 4rem;
}
button {
  margin: 12px;
  height: 50px;
  width: 80px;
  border-radius: var(--border-radius);
  background: #202020;
  justify-content: center;
  align-items: center;
  box-shadow: inset 5px 5px 10px #333, inset -5px -5px 20px #222;
  border: none;
  font-size: 0.8rem;
  color: var(--main-text-color);
  transition: 500ms;
}

button:hover {
  box-shadow: inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: var(--main-text-color);
  transition: 250ms;
}
button:active {
  box-shadow: inset 7px 7px 12px #222, inset -10px -10px 10px #444;
  color: #999999;
}

.choice-buttons {
  flex-direction: row;
  flex-wrap: wrap;
}
.choice-buttons button {
  width: 70px;
}

.clear-all-btn {
  display: flex;
  justify-content: end;
}

.mod {
  border-radius: 10px;
  width: 20%;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  border: none;
}

.subtitle {
  flex-direction: column;
}

.gold {
  color: gold;
  font-weight: bolder;
  border-radius: var(--border-radius);
  text-shadow: var(--main-text-color) 1px 0 10px;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: var(--main-text-color) 1px 0 5px;
  }
  to {
    text-shadow: gold 2px 0 30px;
  }
}

.result-total {
  border: 2px solid var(--main-text-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
}

.hidden {
  display: none;
}
